{% extends 'Stack/base.html'%}
{% load crispy_forms_tags %}

{%block content%}

    <!-- Header -->
    <div class="container jumbotron">
        <h1 class="display-4">Stack</h1>
        <p class="lead">
            Stack yours tasks here in the easiest to do list application on the market.
        </p>
        <hr class="my-4">
      </div>
<!-- Checks to see if is logged in  -->
{%if user.is_authenticated%}
    <!-- Checks for messages -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

{%else%}
    <!-- Form for submitting -->
    <form class='col-lg-6 offset-lg-3'>
        <div class="row justify-content-center">
            <input class="formInput" type="text">
            <button class='save btn btn-outline-primary btn-sm' type="button" >Save Task</button> 
    </div> 
    </form>


    <!-- Hidden overlay -->
    <div class="container overlay">
        <p>Please Log In to have your tasks saved to your profile</p>
        <a href="#">Log In </a> <a href="#">Register</a>
    </div>

{%endif%}



{%endblock content%}