{%extends 'Stack/base.html'%}
{%load crispy_forms_tags%}

{%block content%}
<!-- Deliver success message -->
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>

    <div class="container jumbotron">
        <h1 class="display-4">Profile</h1>
        <p class="lead">
            Name: {{user.first_name}} {{user.last_name}}
        </p>
        <p class="lead">
            Username: {{user.username}}
        </p>
        <p class="lead">
            Tagline : {{user.tagline}}
        </p>
        <hr class="my-4">
      </div>

      <div class="container">
        <a href="{% url 'update_profile' %}"><h6>Update Profile</h6></a>
      </div>
      


{%endblock content%}