{%extends 'Stack/base.html'%}
{%load crispy_forms_tags%}

{%block content%}
<!-- Deliver success message -->
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>

<!-- User -->
    {{user.first_name}}
    {{user.username}}
    {{user.email}}
    {{user.tagline}}

<!-- Form -->
<form class="form-group update" method="POST" enctype="multipart/form-data">
    {%csrf_token%}
    <fieldset>
        <legend>Update your profile</legend>
        {{form | crispy}}
        <button type="submit">Submit</button>
    </fieldset>
</form>

{%endblock content%}